[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
salt-ssh = "*"
pygithub = "*"
reclass = {path = "/home/pmichalec/hg2g/workspace-salt/reclass", editable=true}
#reclass = {git = "https://github.com/salt-formulas/reclass", editable=true}

libvirt-python = "*"
pycrypto = "*"
python-openstackclient = "*"
os-client-config = "*"
shade = "*"
#reclass = {git = "https://github.com/salt-formulas/reclass", editable=true}
# ^^ pipenv install -e git+https://github.com/salt-formulas/reclass.git#egg=reclass

[optional-packages]
# NOTE, IMHO pipenv don't support groups, use line to [dev-packages]

[requires]
python_version = "2.7"
